.top-button {
    text-align: center;
    justify-self: center;
    grid-column: 2/4;
    padding-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    .top-button {
        grid-column: 6/8;
    }
}