#ham-menu {
    min-width: 50px;
    align-self: center;
    margin: 20px;
}

#main-mobile-menu {
    visibility: hidden;
    opacity: 0;
    z-index: 10;
}

.mobile-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // background-image: linear-gradient(#020e93, #000246);
    // background-color: #1b5eeeab;
    background-image: linear-gradient(90deg, #3616d7, #2d0065 70%);
    transition: all ease-in-out 0.5s;
    z-index: 10;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-left: 40px;
    p, a:not(:last-of-type) {
        border-bottom: 3px solid rgb(255, 239, 219);
    }
    a, p {
        padding: 10px;
    }
}

#about-mobile-menu, #guest-mobile-menu, #event-mobile-menu, #contact-mobile-menu {
    visibility: hidden;
    opacity: 0;
}

@media screen and (min-width: 768px) {
    #ham-menu {
        display: none;
    }

    .mobile-menu:not(#comic-lb-con) {
        display: none!important;
        visibility: hidden!important;
        opacity: 0!important;
    }

    #comic-lb-con {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}