.header-logo {
    max-width: 60%;
    margin-left: 100px;
}

.header-logo-con {
    grid-column: 2/3;
}

header {
    // background-image: linear-gradient(#020e93, #000246);
    background-image: linear-gradient(90deg, #864827,#cd9f3b, #864827);
    // background-image: linear-gradient(90deg, #be9500d0, #ffdf7fd0, #be9400d0);
    a:not(.sm-icon), p, div {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header-date {
    padding: 10px;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    width: max-content;
}

.sm-icons-header {
    display: none;
}

.sm-icons-header-mobile {
    display: grid;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px solid #ffdf7f;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 20px;
    min-height: 50%;
    max-height: 50%;

    .sm-icons-con {
        display: flex;
        justify-content: space-around;
    }
}

.follow-text {
    margin-top: 0;
    color: #3616d7!important;
    text-shadow: none;
    text-align: center;
}

.sm-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    // background-image: linear-gradient(#020e93, #000246);
    // background-color: #1b5eeeab;
    // background-image: linear-gradient(#4f86e5, #1457c0);
    background-image: linear-gradient(45deg, #3616d7, #2d0065 70%);
    // background-color: #2f3136;
    // background-color: #34373c;
    padding-bottom: 10px;
    position: relative;
}

.header-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
    &:hover {
        transition: all ease-in-out 0.5s;
        text-decoration: underline;
        opacity: 70%;
    }
}

.sub-links-events, .sub-links-about, .sub-links-guests, .sub-links-contact {
    position: absolute;
    top: 40px;
    // background-color: #000246;
    // background-color: #1b5eeeab;
    // background-color: #1457c0;
    // background-color: #172e5a;
    background-image: linear-gradient(90deg, #3616d7, #2d0065 70%);
    width: 100%;
    display: none;
    justify-content: space-evenly;
    padding-bottom: 10px;
    z-index: 10;
}

@media screen and (min-width: 428px) {
    .header-logo {
        max-width: 40%;
        margin-left: 100px;
    }
}


@media screen and (min-width: 768px) {
    header {
        a, p, div {
            display: flex;
        }
    }

    .header-date {
        order: -1;
        background-image: none;
        padding: 0;
        margin-top: 10px;
        margin-left: 5%;
    }

    .header-link {
        font-size: 14px;
    }

    .sm-icons-header {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        border: 3px solid #ffdf7f;
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 20px;
        padding-bottom: 10px;
        height: max-content;
        align-self: center;
    }

    .sm-icons-con {
        margin-top: 5px!important;
    }

    .header-links {
        margin-top: 20px;
        display: flex;
    }

    .header-logo {
        max-width: 60%;
        margin-left: 0px;
    }
}

@media screen and (min-width: 900px) {
    .header-logo {
        max-width: 50%;
        margin-left: 130px;
    }
}

@media screen and (min-width: 1050px) {
    .header-logo {
        max-width: 40%;
        margin-left: 130px;
    }
}

@media screen and (min-width: 1200px) {
    .header-logo {
        max-width: 25%;
    }

    .header-link {
        font-size: 16px;
    }

    .header-date {
        margin-left: 20px;
    }
}