h3 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    // color: rgb(219, 226, 255);
    text-shadow: 2px 1px black;
    font-family: 'Source Sans 3';
    letter-spacing: 2px;
    font-size: 16px;
}

a {
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 12px;
    text-underline-offset: 3px;
    &:not(.header-link) {
        color: white;
        text-shadow: 2px 1px black;
        // color: rgb(219, 226, 255);
    }
    &:hover {
        opacity: 70%;
    }
    &:visited {
        &:not(.header-link) {
            color: white;
            // color: rgb(219, 226, 255);
            text-shadow: 2px 1px black;
        }
    }
}

button {
    font-family: 'Montserrat';
}

p, li, label, .image-upload {
    // color: rgb(219, 226, 255);
    color: white;
    text-shadow: 2px 1px black;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 12px;
}

.header-link {
    font-family: 'Source Sans 3';
    letter-spacing: 2px;
    font-size: 10px;
}

.header-date {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.close-button {
    margin-top: 20px;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 20px;
    }

    p, li, a, .header-link, label, .image-upload {
        font-size: 14px;
        line-height: 30px;
    }
}

@media screen and (min-width: 1200px) {
    h3 {
        font-size: 24px;
    }

    p, li, a, .header-link, label, .image-upload {
        font-size: 16px;
    }

    .header-date {
        font-size: 20px;
    }
}