#filter-con {
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

#artist-alley-info {
    background-image: linear-gradient(#3616d7, #2d0065);
}

#artist-alley-info {
    padding-top: 20px;
    border: 3px solid #ffdf7f;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.continent {
    list-style-type: disc;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    margin-bottom: 10px;
    margin-left: 20px;
    &:hover {
        opacity: 70%;
        text-decoration: underline;
    }
}

#artist-display-con {
    text-align: center;
}

#artist-display li {
    text-align: left;
    margin-left: 20px;
    list-style-type: disc;
    margin-bottom: 10px;
}

#continent-select {
    border-right: 3px solid #ffdf7f;
    display: none;
    flex-direction: column;
}

#continent-select-list {
    border-radius: 20px;
    margin-bottom: 20px;
    padding-left: 2.5px;
}

#filter-title {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    #artist-alley-info {
        margin-top: 10px;
    }
    
    #continent-select {
        display: flex;
    }

    #continent-select-list {
        display: none;
    }
}