#badge-info-con {
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    h3 {
        margin-top: 10px;
    }
}

#badge-maker-con {
    margin: 20px 0;
    padding: 10px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.badge-title {
    font-size: calc(100% + 2px);
    font-weight: bold;
    text-underline-offset: 3px;
    text-align: center;
}

#badge-button {
    background-color: white;
    border-radius: 50px;
    padding: 10px 20px;
    color: black;
    text-shadow: none;
    text-decoration: none;
    border: 2px solid black;
    transition: all ease-in-out 0s;
    align-self: center;
    margin-top: 10px;

    &:hover {
        border: 2px solid #ffdf7f;
        color: white;
        background-image: linear-gradient(#3616d7, #2d0065);
        opacity: 100%;
    }
}

#discord-connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.badge-divider {
    margin-top: 20px;
    border-bottom: 2px solid #ffdf7f;
    margin-bottom: 20px;
    width: 90%;
    justify-self: center;
}

#badge-con {
    width: 100%;
    margin-top: 50px;
}

#emblemcon-badge {
    border: 15px solid #ffdf7f;
    border-radius: 20px;
    width: 450px;
}

#badge-top {
    padding: 0;
    margin: 0;
    display: block;
}

#badge-assets {
    background-image: linear-gradient(#3616d7, #2d0065);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#badge-image {
    width: 250px;
    align-self: center;
}

#badge-date {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

#badge-discord-con {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#badge-avatar {
    width: 100px;
    height: 100px;
    border: 2px solid #ffdf7f;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}

#badge-username {
    background-color: white;
    padding: 10px 5px;
    width: 65%;
    text-align: center;
    color: black;
    text-shadow: none;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
}

#character-select-list {
    display: flex;
    flex-direction: column;
}

.image-home {
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#badge-chibi-con {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 10px;
    img {
        height: 60px;
    }
}

.select2 {
    margin: 5px 0;
}

.select2-results__option {
    color: black!important;
    text-shadow: none!important;
    font-family: 'Montserrat'!important;
}

#type-select-con {
    display: none;
}

#image-type-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.radio-label {
    cursor: pointer;
}

.chibi-example, .headshot-example {
    height: 70px;
}

.example-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#chibi-info, #headshot-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#chibi-select-con {
    display: none;
}

#divide-2, #divide-3, #divide-4, #divide-1 {
    display: none;
}

#custom-name-con {
    display: none;
}

#name-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name-button {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    text-shadow: none;
    text-decoration: none;
    border: 2px solid black;
    transition: all ease-in-out 0s;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        border: 2px solid #ffdf7f;
        color: white;
        background-image: linear-gradient(#3616d7, #2d0065);
        opacity: 100%;
    }
}

#submit-message {
    margin-top: 5px;
    text-align: center;
}

#name-message {
    text-align: center;
}

#finalize-con {
    display: none;
}

#finalize-button-con {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.finalize-button {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    color: black;
    text-shadow: none;
    text-decoration: none;
    border: 2px solid black;
    transition: all ease-in-out 0s;
    margin-top: 10px;
    cursor: pointer;

    &:hover {
        border: 2px solid #ffdf7f;
        color: white;
        background-image: linear-gradient(#3616d7, #2d0065);
        opacity: 100%;
    }
}

#badge-creation-con {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1b1b1be6;
    height: 100dvh;
    width: 100dvw;
    display: none;
}

#badge-close {
    margin-top: 20px;
    font-size: 48px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    margin-bottom: 10px;
    &:hover {
        color: #3616d7;
    }
}

#preview-download-con {
    align-self: center;
}

#preview-download-badge {
    font-size: calc(100% + 2px);
    padding: 15px 20px;
}