#contest-con {
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
}

#cotc-info, #cosplay-contest-info {
    padding: 10px;
    margin-bottom: 20px;
}

#cosplay-contest-info {
    margin-top: 10px;
}

.contest-info {
    display: flex;
    flex-direction: column;
}

#contest-cotc {
    border: 1.5px solid #ffdf7f;
    background-image: url(/images/website_assets/brian-anderson-headshot.avif);
}

#cosplay-image {
    border: 1.5px solid #ffdf7f;
    background-image: url(/images/website_assets/lightning_larachel.png);
}

.contest-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.contest-more {
    margin-top: 5px;
    text-align: center;
}

.cosplay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .contest-image {
        width: 25%;
        margin-bottom: 0;
        margin-right: 10px;
    }

    .contest-info {
        flex-direction: row;
    }

    .cosplay-text {
        width: 75%;
    }

    .contest-more {
        text-align: left;
    }
}