#contact-con, #feedback-con {
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#contact-form-con, #review-form-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    p:not(#error-message) {
        margin: 10px;
        margin-bottom: 20px;
    }
}

#contact-form, #review-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-form input:not(#submit-contact, #privacy), #review-form input:not(#submit-review, #privacy, #consent) {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
}

#contact-form textarea, #review-form textarea {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    width: 80%!important;
    height: 100px;
}

#submit-contact, #submit-review, #clear-button, #eraser, #submit-doodle {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
    &:not(#clear-button, #submit-review, #eraser) {
        width: 25%;
    }
    &:hover {
        border: 2px solid #ffdf7f;
        color: white;
        background-image: linear-gradient(#3616d7, #2d0065);
    }
}

#eraser.clicked {
    background-image: linear-gradient(#3616d7, #2d0065);
    border: 2px solid #ffdf7f;
    color: white;
}

#privacy-con {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#privacy-con-doodle, #consent-con, #consent-con-doodle, #consent-con-name {
    margin-left: 10px;
    margin-right: 10px;
}

#error-message {
    margin-top: 10px;
}

#error-text {
    text-align: center;
}

#other-errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-buttons, #feedback-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    p {
        border-radius: 50px;
        border: 3px solid #ffdf7f;
        background-image: linear-gradient(#3616d7, #2d0065);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        transition: all ease-in-out 0.5s;
        &:hover {
            background-color: white;
            background-image: none;
            color: #000246;
            text-shadow: none!important;
        }
    }
}

#help-desk-info {
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#help-desk-image {
    margin-top: 10px;
}

.feedback-title {
    margin-top: 20px;
}

#doodle-form {
    border-radius: 20px;
}

@media screen and (min-width: 768px) {
    #contact-form input:not(#submit-contact, #privacy), #review-form input:not(#submit-review, #privacy, #consent, #eraser) {
        width: 50%;
    }

    #contact-form textarea, #review-form textarea {
        width: 50%!important;
    }

    #submit-contact, #submit-review {
        width: 10%;
    }
}