#toolbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    margin-bottom: 20px;
    button {
        margin-top: 10px;
    }
}

#drawing-con {
    display: flex;
    flex-direction: column;
}

#drawing-board {
    height: 100%!important;
    width: 100%!important;
    background-color: rgb(242, 242, 242);
    border: 3px solid #ffdf7f;
    border-radius: 20px;
}

.drawing-board {
    width: 100%!important;
    height: 300px;
}

#doodle-form {
    height: min-content;
    padding-bottom: 20px;
}

#clear-button {
    margin-top: 0;
}

#line-width {
    width: 50px;
}

#submit-doodle {
    width: 100px!important;
    height: 30px;
}

#consent-con-name, #privacy-con-doodle, #consent-con-doodle {
    margin-left: 10px;
}

#submit-doodle-con {
    justify-self: center;
}

#name-con {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    label {
        text-align: center;
    }
    input {
        width: 200px;
    }
    justify-self: center;
}

.consent-con, #privacy-con {
    margin-bottom: 10px;
}

#consent-con-name {
    margin-bottom: 0;
}

#doodle-form {
    margin-bottom: 10px;
    display: none;
}

@media screen and (min-width: 428px) {
    #toolbar {
        button {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    #toolbar {
        flex-direction: column;
        width: 15%;
        justify-content: flex-start;
        input {
            margin-bottom: 20px;
        }
    }

    #drawing-con {
        flex-direction: row;
    }

    #clear-button {
        margin-top: 20px!important;
    }

    .drawing-board {
        margin-left: 20px;
        margin-right: 20px;
    }
}