#halloween-pic {
    margin-top: 10px;
    margin-bottom: 10px;
}

#halloween-page-con {
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    h3 {
        margin-top: 10px;
    }
}