#ld-showcase-con {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.ld-project {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: #dcdcdc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ld-title {
    font-weight: bold;
    text-align: center;
}

.ld-link {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    transition: all ease-in-out 0.5s;
    display: flex;
    justify-content: center;
    &:hover {
        opacity: 70%;
        text-decoration: underline;
    }
}

.ld-image {
    margin-left: 10px;
    height: 200px;
    width: 90%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: blue;
    margin-bottom: 20px;
    border: 1.5px solid #ffdf7f;
}

.ld-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ld-desc {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .ld-content {
        flex-direction: row;
        width: 100%;
    }

    .ld-image {
        width: auto;
        min-width: 35%;
    }

    .ld-link {
        justify-content: flex-start;
    }
}