#privacy-info-con {
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#privacy-update-text {
    margin-top: 10px;
    text-align: right;
}

#privacy-info ul li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.privacy-title {
    font-weight: bold;
}