#reference-con {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.web-credit {
    margin-top: 10px;
    margin-bottom: 5px;
}