#answer-container {
    padding: 0;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-top: 20px;
}

#answer-con li {
    list-style-type: disc;
    margin-left: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#answer-title, #answer-list-con {
    margin-left: 15px;
    margin-right: 15px;
}

#next-con {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: linear-gradient(#3616d7, #2d0065);
    border-top: 3px solid #ffdf7f;
}

#answer-list-con {
    display: flex;
}

// #answer-image {
//     width: 33%;
//     height: 300px;
//     background-image: url(../images/mods/rye.png);
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     margin: 10px;
// }

#answer-con {
    width: 100%;
}

@media screen and (min-width: 768px) {
    #answer-con li {
        list-style-type: disc;
        margin-left: 2%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}