#scavenger-con {
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    p {
        margin-bottom: 10px;
    }
}

#scavenger-image {
    margin-top: 10px;
    margin-right: 15px;
    display: flex;
    justify-self: center;
    align-self: center;
    float: left;
}