#schedule-info-con {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #dcdcdc;
    padding-top: 10px;
    border-radius: 20px;
    padding-bottom: 10px;
}

.day {
    border: 1px solid #ffdf7f;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
        text-decoration: underline;
        background-image: none;
        background-color: white;
        color: #000246;
        text-shadow: none;
    }
    background-image: linear-gradient(#3616d7, #2d0065);
}

#schedule-days {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.panel-div {
    padding: 10px;
    &:first-of-type{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    &:last-of-type {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    &:not(:last-of-type) {
        border-bottom: 2px solid #ffdf7f;
        padding-bottom: 10px;
    }
}

.panel-title {
    font-weight: bold;
}

#schedule-text {
    margin-bottom: 10px;
    border-radius: 20px;
}

#schedule-image {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
    img {
        max-width: 90%;
    }
}

.colour-box {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

#legend-text {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#schedule-features-con {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.schedule-legend-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

#colour-blind-box {
    text-align: right;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

#cb-toggle {
    margin-left: 10px;
    width: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    &:hover {
        opacity: 70%;
    }
}

#closing-info {
    padding: 10px;
    text-align: center;
}

#schedule-box-g {
    background-image: linear-gradient( #298933, #032404);
}

#schedule-box-m {
    background-image: linear-gradient( #0f1ca1, #01034c);
}

#schedule-box-p {
    background-image: linear-gradient( #a78d2e, #523607);
}

#schedule-box-v {
    background-image: linear-gradient( #95032d, #3d0003);
}

@media screen and (min-width: 428px) {
    .day {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) {
    #schedule-image {
        margin-bottom: 20px;
        img {
            max-width: 75%;
        }
    }

    .day {
        padding-left: 35px;
        padding-right: 35px;
        font-size: 16px;
    }

    #legend-text {
        width: auto;
        margin-right: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
}