#stamp-info-con {
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    h3 {
        margin-top: 10px;
    }
}

#previous-stamp-con {
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#stamp-year-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

#stamp-title {
    margin-bottom: 20px;
}

#stamp-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    width: 100%;
}

#stamp-image {
    width: 90%;
    margin-bottom: 10px;
}

.stamp-button {
    border-radius: 50px;
    border: 3px solid #ffdf7f;
    background-image: linear-gradient(#3616d7, #2d0065);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease-in-out .5s;
    text-align: center;
}

#current-stamp-con {
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#artist-list {
    margin-bottom: 10px;
}

#inactive-stamp {
    margin-top: 10px;
    text-align: center;
}

.stamp-link {
    text-decoration: none;
    font-size: calc(100% + 2px);
}

#stamp-theme {
    font-weight: 600;
}

.rally-title {
    width: 100%;
}

.rally-box {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    flex-direction: column;
}

.rally-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: calc(100% + 2px);
    border-top: 2px solid #ffdf7f;
    padding-top: 10px;
    font-weight: bold;
}

#stamp-toc-con {
    border-radius: 20px;
    border: 3px solid #ffdf7f;
    width: fit-content;
    padding: 10px;
    background-image: linear-gradient(#3616d7, #2d0065);

    a {
        margin-bottom: 10px;
        text-decoration: none!important;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    margin-bottom: 20px;
}

#rally-toc-text {
    font-weight: bold;
    cursor: pointer;
}

#rally-links {
    display: none;
}

#current-stamp-image {
    max-height: 350px;
    margin-bottom: 10px;
    align-self: center;
}

.current-rally-artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    a {
        text-decoration: none;
    }

    p {
        font-weight: bold;
    }
}

@media screen and (min-width: 500px) {
    #stamp-year-con {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    #current-stamp-image {
        max-height: none;
        width: 35%;
    }

    #artist-list {
        width: 40%;
        margin-left: 10px;
    }

    .current-rally-artists {
        width: 45%;
        align-items: flex-start;
    }

    .rally-box {
        flex-direction: row;
    }
}