#stamp-info-con {
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    h3 {
        margin-top: 10px;
    }
}

#previous-stamp-con {
    border-radius: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#stamp-year-con {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}

#stamp-title {
    margin-bottom: 20px;
}

#stamp-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    border-radius: 20px;
    width: 100%;
}

#stamp-image {
    width: 90%;
    margin-bottom: 10px;
}

.stamp-button {
    border-radius: 50px;
    border: 3px solid #ffdf7f;
    background-image: linear-gradient(#3616d7, #2d0065);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all ease-in-out .5s;
    text-align: center;
}

#current-stamp-con {
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

#artist-list {
    margin-bottom: 10px;
}

#inactive-stamp {
    margin-top: 10px;
    text-align: center;
}

.stamp-link {
    text-decoration: none;
    font-size: calc(100% + 2px);
}

#stamp-theme {
    font-weight: 600;
}

@media screen and (min-width: 500px) {
    #stamp-year-con {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    #current-stamp-image {
        width: 60%;
        order: -1;
    }

    #artist-list {
        width: 40%;
        margin-left: 10px;
    }

    #current-stamp-info {
        display: flex;
        justify-content: space-evenly;
    }
}