#great-lords, #lords {
    margin-bottom: 20px;
    background-color: #dcdcdc;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

#great-lords {
    margin-top: 20px;
}

#lord-intro {
    margin-bottom: 10px;
    p {
        text-align: center;
    }
}

.mod-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all ease-in-out 0.5s;
    transform-origin: top;
    position: relative;
    background-image: linear-gradient(215deg, #3616d7, #2d0065 70%);
    &:hover {
        opacity: 80%;
    }
    align-self: start;
}

.mod-name {
    margin-bottom: 10px;
}

.mod-thumbnail {
    max-height: 125px;
    justify-self: center;
    margin: 5px;
}

.mod-bio {
    display: none;
}

#spinner-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class~="mod-con"][class~="clicked"] {
    .mod-name {
        display: none;
    }
    .mod-bio {
        display: flex;
        flex-direction: column;
        margin: 10px;
        p:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
    .mod-thumbnail {
        margin: 10px;
    }
}

.great-lord-bio p:not(:last-of-type) {
    margin-bottom: 10px;
}

.great-lord-image {
    width: 200px;
}

#okke, #mysti {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lord-info {
    line-height: 20px;
}

#okke {
    border-bottom: 3px solid rgb(255, 239, 219);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .mod-con {
        justify-content: space-evenly;
        align-items: center;
    }

    #okke, #mysti {
        flex-direction: row;
    }

    #okke {
        border-bottom: none;
        padding-bottom: 0;
    }

    #mysti {
        border-left: 3px solid rgb(255, 239, 219);
    }

    .lord-info {
        font-size: 14px;
    }
}

@media screen and (min-width: 1200px) {
    .mod-con {
        flex-direction: row;
    }
}