#upcoming-guests-con {
    margin-top: 10px;
    background-color: #dcdcdc;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

#previous-guests-con {
    margin-bottom: 10px;
    background-color: #dcdcdc;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.upcoming-guest {
    margin-bottom: 10px;
}

.previous-guest {
    margin-bottom: 10px;
    filter: grayscale(100%);
}

#upcoming-guests-con {
    margin-bottom: 20px;
}

#previous-guests-images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    img {
        max-width: 22%;
    }
}

#guest-current-year {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#stay-tuned {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #upcoming-guests-con {
        margin-bottom: 30px;
    }

    #previous-guests-con {
        margin-bottom: 20px;
    }

    #previous-guests-images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        img {
            max-width: 15%;
        }
    }
}